<html>
    <head>
        <title>Mini Message Board</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <h1>New Message</h1>
        <form method="POST" action="/new">
            <label for="name">Name</label><br/>
            <input type="text" name="messageUser" id="name"><br/>

            <label for="message">Message</label><br/>
            <input type="text" name="messageText" id="message"><br/>

            <button type="submit">Submit</button>
         </form>
         
    </body>
</html>